html{
    background-color: #123443;
    height: 100%;
    width: 100%;
}
.play{
    height: 100vh;
    width: 15%;
    position: float;
    float: right;;
    background-color: #486F81;
}
img{
  max-width: 100%;
  vertical-align: middle;
}